
.App{
  background-color: rgb(199, 184, 184);
}


/* .aapName{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif  ;
  font-size: 1.4rem;
  margin: 10px 10px 10px 10px;
  color: rgb(123, 161, 123);
} */


/* .header{
  background-color:rgb(161, 209, 161);
  /* height:100px; */
  /* position: sticky;
  top: 0;
  overflow: hidden;
  margin-bottom: 40px;
  z-index: 999999;
} */ 

/* .form{
margin-left: 90px;
justify-content: center;
/* border: 2px solid black; */
/* width: 40%;
padding-top: 3%;
padding: 2%; */
/* }  */

/* .tagline{
  display: inline-block;
  margin-left: 170px;
  margin-bottom: 50px;
  width: 75%;
  justify-content: center;
  
} */

/* .spacing{
  line-height: 32px;
} */

/* h3{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif  ;
  padding-bottom: 2%;
  margin: 30px 30px 30px 30px;
  color: rgb(123, 161, 123);
  text-align: center;
} */

/* .nav{
  background-color: rgb(123, 161, 123);
  justify-content: right;
  
} */

/* .certifications{
  padding: 3%;
  margin: auto;
  justify-content: center;
} */

/* .services{
  padding: 3%;
  margin: auto;
  justify-content: center;
} */
/* .contact-us{
  padding: 3%;
  margin: auto;
  justify-content: center;
} */

/* .textBox input{
  display: inline-block;
  height: 1000px;
  width:80%;
} */

